<% if user_signed_in? %>
	<div class="row">
		<div class="col-xs-6   col-xs-offset-3">
			<h2>¡Bienvenid@ <%= current_user.name %>!!</h2>
			<div class="login centrado">							
				<h3>¿Qué te apetece hacer hoy?</h3>
				<div class="tale-links">
					<div>
						<%= icon('paint-brush') %> <%= link_to 'nuevo cuento', new_book_path %>
					</div>
					<div>
						<%= icon('book') %> <%= link_to 'biblioteca', books_path %>
					</div>
				</div>				
			</div>
		</div>
	</div>

<% else %>

	<div id="crea" class="row">
		<div class="col-xs-12 intro">
			<h1>crea</h1>
			<a href="#juega"><%= icon('chevron-circle-down') %></a>
		</div>
	</div>

	<div id="juega" class="row">
		<div class="col-xs-12 intro">
			<h1>juega</h1>
			<a href="#ilustra"><%= icon('chevron-circle-down') %></a>
		</div>
	</div>

	<div id="ilustra" class="row">
		<div class="col-xs-12 intro">
			<%= image_tag("logo-37.png") %>
			<div class="welcome-button"><%= link_to 'entra', new_user_session_path %></div>
			<div class="welcome-button"><%= link_to 'registrate', new_user_registration_path %></div>
			<div class="welcome-button"><%= link_to 'explora' %></div>
		
		<a href="#top-nav"><%= icon('chevron-circle-up') %></a>
		</div>
	</div>

<% end %>