<section>
	<div class="row">
		<%= render "books/menuObjetos" %>
		<div class="col-xs-8">
			<div class="row">
				<div class="col-xs-12">
					<p class="book-title">
					Título: <%= @book.title %>
					</p>

				</div>
				<div class="stage-margin">
					<div class="wrapper col-xs-12">
						<div id="stage" class=" main-stage" style='background-image: url("<%= JSON.parse(@page.info)["bg"] %>");'>
							<% JSON.parse(@page.info)["elements"].each do |imagen| %>
							<div class='stage-element' data-src='<%= imagen['img'] %>' style="position: absolute; top: <%= imagen['top'] %>; left: <%= imagen['left'] %>"><i class='delete-button fa fa-times'></i><img src='<%= imagen['img'] %>'></div>
								
							<% end %>
						</div>
					</div>
					<div class="add-text col-xs-12">
					<%= form_for [@book, @page] do |p| %>
	   					<%= p.text_area :content, placeholder:"Escribe aquí tu texto" %>
					</div>
				</div>
			</div>
		</div>	
					<div id="pag-menu" class="col-xs-1">
						<div class="row botones">
							<%= p.submit "fin", id: 'savebook', class: 'savebutton' %>
	   						<%= p.submit "+", id: 'savepage', class: 'savebutton' %>	
						</div>
						<div class="row botones">
							<% if @prev_page %>
								<%= link_to "<button id='previouspage-btn' class='savebutton'><</button>".html_safe, edit_book_page_path(@book, @prev_page) %>
							<% end %>
							<% if @next_page %>
								<%= link_to "<button id='nextpage-btn' class='savebutton'>></button>".html_safe, edit_book_page_path(@book, @next_page) %>
							<% end %>
						</div>

					</div>
					<% end %>
	<div id="book_id" data-bookid="<%= @book.id %>"> </div>	
	<div id="page_id" data-pageid="<%= @page.id %>"> </div>				

	</div>					

</section>