<div id="dib-menu" class="col-xs-3">
	<div class="row">
		<ul class="nav nav-tabs" role="tablist"> 
			<li class="btn-seccion-menu active col-xs-4" role="presentation" >
				<a href="#menu-backgrounds" aria-controls="backgrounds" role="tab" data-toggle="tab">
					<%= image_tag("back-menu.png", alt: "back-menu") %>
				</a>
			</li>
			<li class="btn-seccion-menu col-xs-4" role="presentation" >
				<a href="#menu-characters" aria-controls="characters" role="tab" data-toggle="tab">
				<%= image_tag("char-menu.png", alt: "char-menu") %>
				</a>
			</li>
			<li class="btn-seccion-menu col-xs-4" role="presentation" >
				<a href="#menu-tools" aria-controls="tools" role="tab" data-toggle="tab"> 
				<%= image_tag("tool-menu.png", alt: "tool-menu") %>
				</a>
			</li>
		</ul>
		  <div class="tab-content">
    		<div role="tabpanel" class="tab-pane active" id="menu-backgrounds">
    			<ul>
					<li><div><%= image_tag("back-01.png", alt: "01", class: 'stages') %></div></li>
					<li><div><%= image_tag("back-02.png", alt: "02", class: 'stages') %></div></li>
					<li><div><%= image_tag("back-03.png", alt: "03", class: 'stages') %></div></li>
					<li><div><%= image_tag("back-04.png", alt: "04", class: 'stages') %></div></li>
				</ul>
    		</div>
    		<div role="tabpanel" class="tab-pane" id="menu-characters">
    			<ul>

				<li>
					<div class="draggable tools" data-element="/assets/2.png">
						<%= image_tag("2.png", alt: "boy", :data => {'element' => '/assets/2.png', 'id' => 'character2'}) %>
					</div>
				</li>
				<li>
					<div class="draggable tools" data-element="/assets/16.png">
						<%= image_tag("16.png", alt: "mauro", :data => {'element' => '/assets/16.png', 'id' => 'character16'}) %>
					</div>
				</li>
				<li>
					<div class="draggable tools" data-element="/assets/15.png">
						<%= image_tag("15.png", alt: "papa", :data => {'element' => '/assets/15.png', 'id' => 'character15'}) %>
					</div>
				</li>
				<li>
					<div class="draggable tools" data-element="/assets/3.png">
						<%= image_tag("3.png", alt: "girl", :data => {'element' => '/assets/3.png', 'id' => 'character3'}) %>
					</div>
				</li>
				<li>
					<div class="draggable tools" data-element="/assets/14.png">
						<%= image_tag("14.png", alt: "estela", :data => {'element' => '/assets/14.png', 'id' => 'character14'}) %>
					</div>
				</li>
				<li>
					<div class="draggable tools" data-element="/assets/7.png">
						<%= image_tag("7.png", alt: "girl", :data => {'element' => '/assets/7.png', 'id' => 'character7'}) %>
					</div>
				</li>
				<li>
					<div class="draggable tools" data-element="/assets/1.png">
						<%= image_tag("1.png", alt: "gato", :data => {'element' => '/assets/1.png', 'id' => 'character1'}) %>
					</div>
				</li>
				<li>
					<div class="draggable tools" data-element="/assets/11.png">
						<%= image_tag("11.png", alt: "pez", :data => {'element' => '/assets/11.png', 'id' => 'character11'}) %>
					</div>
				</li>
				<li>
					<div class="draggable tools" data-element="/assets/12.png">
						<%= image_tag("12.png", alt: "pez", :data => {'element' => '/assets/12.png', 'id' => 'character12'}) %>
					</div>
				</li>
				</ul>
    		</div>
    		<div role="tabpanel" class="tab-pane" id="menu-tools">
    			<ul>
				<li>
					<div class="draggable tools" data-element="/assets/5.png">
						<%= image_tag("5.png", alt: "camara", :data => {'element' => '/assets/5.png', 'id' => 'character5'}) %>
					</div>
				</li>
				<li>
					<div class="draggable tools" data-element="/assets/10.png">
						<%= image_tag("10.png", alt: "computer", :data => {'element' => '/assets/10.png', 'id' => 'character10'}) %>
					</div>
				</li>
				<li>
					<div class="draggable tools" data-element="/assets/17.png">
						<%= image_tag("17.png", alt: "metro", :data => {'element' => '/assets/17.png', 'id' => 'character17'}) %>
					</div>
				</li>
				<li>
					<div class="draggable tools" data-element="/assets/18.png">
						<%= image_tag("18.png", alt: "coche", :data => {'element' => '/assets/18.png', 'id' => 'character18'}) %>
					</div>
				</li>
				<li>
					<div class="draggable tools" data-element="/assets/4.png">
						<%= image_tag("4.png", alt: "botas", :data => {'element' => '/assets/4.png', 'id' => 'character4'}) %>
					</div>
				</li>
				<li>
					<div class="draggable tools" data-element="/assets/6.png">
						<%= image_tag("6.png", alt: "gorro", :data => {'element' => '/assets/6.png', 'id' => 'character6'}) %>						
					</div>
				</li>
				<li>
					<div class="draggable tools" data-element="/assets/13.png">
						<%= image_tag("13.png", alt: "gafas", :data => {'element' => '/assets/13.png', 'id' => 'character13'}) %>
					</div>
				</li>
				<li>
					<div class="draggable tools" data-element="/assets/8.png">
						<%= image_tag("8.png", alt: "flower", :data => {'element' => '/assets/8.png', 'id' => 'character8'}) %>
					</div>
				</li>
				<li>
					<div class="draggable tools" data-element="/assets/9.png">
						<%= image_tag("9.png", alt: "sombrero", :data => {'element' => '/assets/9.png', 'id' => 'character9'}) %>
					</div>
				</li>
			</ul>
    		</div>
 		</div>
	</div>
</div>