<section>
	<div class="row">
		<%= render "books/menuObjetos" %>
		<div class="col-xs-8">
			<div class="row">
				<div class="col-xs-12">
					<p class="book-title">
					Título: <%= @book.title %>
					</p>
				</div>
				<div class="stage-margin">
					<div class="wrapper col-xs-12">
						<div id="stage" class=" main-stage"></div>
					</div>
					<div class="add-text col-xs-12">
					<%= form_for [@book, @page] do |p| %>
	   					<%= p.text_area :content, placeholder:"Escribe aquí tu texto", required: true %>
					</div>
				</div>
			</div>
		</div>	
					<div id="pag-menu" class="col-xs-1">
						<div class="row botones">
							<%= p.submit "fin", id: 'savebook', class: 'savebutton' %>
	   						<%= p.submit "+", id: 'savepage', class: 'savebutton' %>	
						</div>
						<div class="row botones">
							<button id="previouspage" class="savebutton"><</button>
							<button id="btnjson" class="savebutton">></button>
						</div>

					</div>
					<% end %>
	<div id="book_id" bookid="<%= @book.id %>"> </div>				
	</div>					

</section>