<div class="row fullPage">
	<h1 class="col-xs-8 col-xs-offset-2"><%= @book.title %>
		<p>
			<%= link_to 'añadir página', new_book_page_path(@book) %>
		</p>
	</h1>
</div>

<div class="row">
	<!-- <%= icon('chevron-circle-left', '', class: 'col-xs-1') %> -->
	<div class="col-xs-10 col-xs-offset-1 fullPage">
		<% @book.pages.each do |p| %>
	
				<div style="position: relative; background-image: url('<%= JSON.parse(p.info)["bg"] %>'); width:850px; height:422px;" class="stagepreview">
					<% JSON.parse(p.info)["elements"].each do |imagen| %>
						<img src="<%= imagen['img'] %>" style="position: absolute; top: <%= imagen['top'] %>; left: <%= imagen['left'] %>" >
					<% end %>
				</div>

				
				<p class="textoCuento"><%= p.content %></p>
			<div class="editarCuento">
				<%= icon('paint-brush') %> <%= link_to 'editar', edit_book_page_path(@book, p) %>
			</div>
		<% end %>
		
	</div>
	<!-- <%= icon('chevron-circle-right', '', class: 'col-xs-1') %> -->
</div>