<div class="row">
	<article>
		<div id="dib-menu" class="col-xs-3">
			<div class="row">
				<div class="col-xs-3">
					<button type="button" class="btn btn-default">
						<%= image_tag("back-menu.png", alt: "back-menu") %>
					</button>
				</div>
				<div class="col-xs-3">
					<button type="button" class="btn btn-default">
						<%= image_tag("char-menu.png", alt: "char-menu") %>
					</button>
				</div>
				<div class="col-xs-3">
					<button type="button" class="btn btn-default">
						<%= image_tag("tool-menu.png", alt: "tool-menu") %>
					</button>
				</div>
			</div>
			<div class="row">
				<ul id="dibujos" class="sortable-list draggable">
					<li><div><%= image_tag("back-01.png", alt: "01", class: 'stage') %></div></li>
					<li><div><%= image_tag("back-02.png", alt: "02", class: 'stage') %></div></li>
					<li><div><%= image_tag("back-03.png", alt: "03", class: 'stage') %></div></li>
					<li><div><%= image_tag("back-04.png", alt: "04", class: 'stage') %></div></li>
					<li><div><%= image_tag("back-05.png", alt: "05", class: 'stage') %></div></li>
					<li><div><%= image_tag("back-06.png", alt: "06", class: 'stage') %></div></li>
					<li><div><%= image_tag("botas.png", alt: "botas", class: 'tools') %></div></li>
				</ul>
			</div>
		</div>	

		<div id="stage" class="sortable-list col-xs-8 draggable">
		</div>

		<div id="pag-menu" class="col-xs-1">páginas
		</div>	
	</article>
</div>