<div class="row">
	<header>
		<div id="header" class="col-xs-12">
			<div class="row">
				<div id="logo" class="col-xs-3">
					<%= link_to image_tag("logo.png"), root_path %>
				</div>
			</div>
			<div class="row">
				<nav>
					<div id="top-nav" class="col-xs-12">
						<% if user_signed_in? %>	
							<div id="book-nav">
								<%= link_to 'mis libros' %></li>	
								<%= link_to 'nuevo libro' %></li>	
							</div>
						<% end %>
						<div id="info-nav">
							<%= link_to 'info' %></li>
							<%= link_to 'explora' %></li>
						</div>
						<div id="user-nav">
							<% if user_signed_in? %>
							<%= link_to current_user.name, edit_user_registration_path  %>
								<%= link_to 'cerrar sesión', destroy_user_session_path, method: 'DELETE' %>
							<% else %>
								<%= link_to 'entra', new_user_session_path %></li>	
								<%= link_to 'registrate', new_user_registration_path %></li>
							<% end %>
						</div>
						
					</div>
				</nav>
			</div>

		</div>

	</header>
</div>